<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/bookFrontPic.jpg" alt=""/>
    <ion-card-header>
   
      <ion-card-title>Welcome to Book</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Purus viverra accumsan in nisl nisi scelerisque eu ultrices vitae. Lacus luctus accumsan tortor posuere ac ut consequat. In fermentum posuere urna nec tincidunt praesent semper feugiat. Congue nisi vitae suscipit tellus mauris a diam maecenas sed.
      </p>
    </ion-card-content>
  </ion-card>

  
</ion-content>
